* {
  font-family: poppins;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.credit__card {
  /* border: 1px solid #000; */
  width: 40%;
  margin: 0px auto;
  border-radius: 30px;
  background-color: #548ca8;
}

.container__heading {
  text-align: center;
  font-size: 22px;
  padding: 22px 0px;
  color: #eeeeee;
  white-space: nowrap;
}

.container__inputs {
  /* border: 1px solid rgb(132, 216, 23); */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  padding: 16px 0px;
  box-sizing: border-box;
  width: 80%;
  margin: 0px auto;
}

.container__inputs input {
  width: 18%;
  border-radius: 8px;
  padding: 8px 8px;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
  background-color: #eeeeee;
  border: none;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
}

.container__button {
  display: flex;
  /* border: 1px solid rgb(9, 35, 150); */
  justify-content: center;
  padding: 16px 0px;
}
.container__button button {
  padding: 6px 14px;
  cursor: pointer;
  font-size: 18px;
  color: #eee;
  letter-spacing: 2px;
  font-weight: 900;
  border: none;
  background-color: #548ca8;
  transition: all 0.7s ease;
  border-radius: 10px;
}
.container__button button:enabled {
  color: #548ca8;
  background-color: #fff;
  border: none;
  transition: all 0.7s ease;
}

.container__list {
  display: flex;
  /* border: 1px solid rgb(223, 99, 16); */
  justify-content: center;
  overflow-y: auto;
  height: 40%;
  width: 65%;
  margin: 30px auto;
}

.ind__list {
  display: flex;
  justify-content: space-between;
}

.container__list ul {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0px auto;
}

.container__list ul li {
  padding: 8px 4px;
  font-size: 24px;
  letter-spacing: 6px;
}
.container__list ul button {
  padding: 10px 20px;
  cursor: pointer;
}

@media only screen and (max-width: 968px) {
  .container__heading {
    text-align: center;
    font-size: 16px;
    padding: 22px 0px;
    color: #eeeeee;
    white-space: nowrap;
  }

  .credit__card {
    width: 86%;
  }

  .container__inputs {
    width: 100%;
  }

  .container__inputs input {
    font-size: 20px;
    padding: 8px 4px;
  }

  .container__list {
    width: 96%;
  }

  .container__list ul li {
    font-size: 20px;
    letter-spacing: 4px;
  }
}
